NEXT_PUBLIC_STRIPE_SUCCESS_URL=http://localhost:3000/checkout/success
NEXT_PUBLIC_STRIPE_CANCEL_URL=http://localhost:3000/checkout/cancel
NEXT_PUBLIC_STRIPE_PRICE_PERSONAL=
NEXT_PUBLIC_STRIPE_PRICE_BASIC=price_1ScOvDQwusGQNJkIArSeN5js
NEXT_PUBLIC_STRIPE_PRICE_PRO=price_1ScOxOQwusGQNJkIkVzMnm8m
NEXT_PUBLIC_PLAN_PRICE_PERSONAL=0€
NEXT_PUBLIC_PLAN_PRICE_BASIC=10€
NEXT_PUBLIC_PLAN_PRICE_PRO=50€
NEXT_PUBLIC_PLAN_LIMIT_PERSONAL=10000
NEXT_PUBLIC_PLAN_LIMIT_BASIC=50000
NEXT_PUBLIC_PLAN_LIMIT_PRO=250000
NEXT_PUBLIC_PLAN_STORAGE_PERSONAL=1024
NEXT_PUBLIC_PLAN_STORAGE_BASIC=10240
NEXT_PUBLIC_PLAN_STORAGE_PRO=102400
NEXT_PUBLIC_INSTANTBACKEND_BASE_URL=https://hexsl81t5f.execute-api.eu-west-1.amazonaws.com/dev
